.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 3%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

p {
  color: blue;
}

.details {
  color: black;
  font-size: larger;
}

img {
  width: 30vw;
}
